#nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
  /* box-shadow: 0 1.5px 3px 1px rgba(0, 0, 0, 0.218); */
  height: 70px;
  z-index: 9998;
  line-height: 1.8;

  #logo {
    max-width: 70px;
    padding-left: 50px;
  }
  #nav-list {
    font-family: "proxima-nova", sans-serif;
    list-style-type: none;
    color: white;
    font-size: 14px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding-right: 50px;

    /* text-transform: uppercase; */

    li {
      display: flex;
      flex-direction: row;
      position: relative;
      transition: color 0.3s ease-in-out;
      cursor: pointer;
    }
    li:hover {
      color: #df1f1f;
    }
    li.underline::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: 0px;
      left: 0;
      background-color: #df1f1f;
      transform-origin: bottom left;
      transition: transform 0.3s ease;
    }
    li.underline:hover::after {
      transform: scaleX(1.01);
      transform-origin: bottom left;
    }
    li#profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #dropdown {
        top: 35px;
        position: absolute;
        margin-top: -10px;
        z-index: -999;
        opacity: 0;
        list-style: none;
        transition: all ease-in 0.2s;
        background-color: #df1f1f;
        text-decoration: none;
        padding: 5px;
        border-radius: 2px;

        li {
          padding: 10px;
          text-wrap: nowrap;
          font-family: "proxima-nova", sans-serif;
          color: white;
          font-size: 10px;
          text-transform: uppercase;
          font-weight: 600;
          justify-content: center;
          align-items: center;
        }
        li:hover {
          color: black;
        }
        .hidden {
          display: none;
        }
      }
      #dropdown::before {
        content: " ";
        position: absolute;
        top: -10px;
        left: 30px;
        border: 6px solid transparent;
        border-bottom-color: #df1f1f;
      }
      #dropdown.shown {
        margin-top: 0px;
        z-index: 99;
        opacity: 1;
      }
    }
  }
}
