* {
  scrollbar-color: #505050 transparent;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  background-color: #171616;
  /* background-color: white; */
  margin: 0;
}

#nav {
  position: sticky;
  top: 0;
  box-shadow: 0 1.5px 3px 1px rgba(0, 0, 0, 0.218);
  background-color: black;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  h1 {
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    color: white;
  }
  table {
    color: white;
    font-family: "proxima-nova", sans-serif;
  }
}
